---
import CommonHead from '../../components/Unreactive/CommonHead.astro';
import NavBar from '../../components/Unreactive/NavBar.astro';
const { id } = Astro.params;

console.log("almost called")
const response = await fetch(import.meta.env.API_URL + "/listing/get/" + id).catch(() => null);
console.log(response);
if (!response || !response.ok) return Astro.redirect("/profile");
const data = await response.json().catch(() => null);
if (!data) return Astro.redirect("/");
const listing = data.listing;
const pictures = data.urls;
console.log("everything's ok");
---

<CommonHead title={listing.title}/>
<body>
    <NavBar />
    <h1>{listing.title} - ${listing.value}</h1>
    <p>{listing.bio}</p>
    { pictures.map((url: string) => <img src={url}/>) }
    <p>Posted on: {listing.created}</p>
</body>